.draggable,
.draggableSelected {
  width: 15em;
  height: 40px;

  border-radius: 5px;

  border-width: 2px;
  border-style: solid;
  border-color: rgb(25, 25, 25);

  padding: 5px;

  background-color: lightblue;

  z-index: 10;
}

.draggableSelected {
  box-shadow: rgba(0, 255, 255, 0.35) 0px 5px 15px;

  z-index: 100;
}
